@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins&display=swap');


* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(#ffa8a2, #f4e99d);
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}

.header {
    font-family:  "Dancing Script", cursive;
    font-size: 50px;
    color: #f25246;
    text-shadow: 0 5px 15px #f25246;
    margin: 100px auto;
    text-align: center;
}

.container {
    flex: 1;
    position: relative;
    isolation: isolate;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
}

.img-1, .img-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-1 {
    width: 175px;
}

.img-2 {
    width: 150px;
}

.btn {
    position: absolute;
    top: calc(100% - 5rem);
    min-width: 120px;
    padding: .75rem 1rem;
    font-size: 1.25rem;
    background-color: #ff4133;
    color: white;
    border: none;
    border-radius: 13px;
    box-shadow: 5px 5px 10px rgba(18, 15, 15, 0.1);
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: #ff4133;
    box-shadow: 0 5px 15px #ff4133;
}

.btn-yes {
    left: 50%;
    transform: translateX(calc(-100% - 1rem));
    z-index: 1;
}

.btn-no {
    left: calc(50% + 1rem);
    transition: all 0.5 ease;
    z-index: 2;
}